.card__container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 848px;
  &-content {
    cursor: pointer;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
    &-data {
      align-items: center;
      border: 1px solid #e5e5e5;
      border-radius: 4px;
      display: flex;
      height: 310px;
      justify-content: center;
      text-align: center;
      text-transform: capitalize;
      width: 272px;

      &-informations {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 230px;
        justify-content: center;
        width: 240px;

        &-address {
          &-details {
            font-size: 12px;
            line-height: 16px;
            span {
              display: flex;
              justify-content: center;
              p {
                margin-left: 2px;
              }
            }
          }
          &-street {
            font-size: 14px;
            line-height: 24px;
          }
        }
        &-profile {
          margin-bottom: 10px;
          h3 {
            font-size: 20px;
            line-height: 26px;
          }
          img {
            border-radius: 50%;
            margin-bottom: 10px;
            width: 80px;
          }
        }
      }

      &.selected {
        border: 1px solid rgb(41, 100, 168);
      }

      &:hover {
        border: 1px solid rgb(41, 100, 168);
      }
    }
  }

  &-skeleton {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
  }
}
