.cardHeader__container {
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  width: 838px;

  div {
    margin-right: 20px;
    label {
      font-size: 14px;
    }
    select {
      background: none;
      border: none;
      outline: none;
    }
  }
  p {
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .cardHeader__container {
    height: 50px;
    width: 513px;
  }
}

@media (max-width: 750px) {
  .cardHeader__container {
    height: 50px;
    margin: 0 0 10px 5px;
    width: 280px;
    div {
      margin-right: 4px;
      label {
        font-size: 13px;
      }
      select {
        font-size: 13px;
        padding: 3px;
      }
    }
    p {
      margin-left: 5px;
      font-size: 13px;
    }
  }
}
