.header__container {
  align-items: center;
  background-color: #b0b0b0;
  display: flex;
  justify-content: space-evenly;
  height: 96px;
  width: 100vw;

  div {
    img {
      height: 40px;
      width: 148px;
    }
  }

  &-left {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    &-button {
      background-color: gray;
      border-radius: 32px;
      height: 16px;
      margin: 0 10px;
      width: 176px;
    }
  }
}
