.home__container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &-body {
    display: flex;
    flex-direction: column;
    margin: 2% auto;

    &-content {
      display: flex;
    }
    &-title {
      margin: 2% 0;
    }
  }
}

@media (max-width: 750px) {
  .home__container {
    &-body {
      &-title {
        margin: 2% 1%;
      }
    }
  }
}
