.pagination__container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 208px;
  button {
    align-items: center;
    background: none;
    cursor: pointer;
    border: none;
    display: flex;
    margin: 0 10px;
  }

  &-numbers {
    color: #9b9b9b;
    font-size: 16px;
    padding: 0 6px;
    &.selected {
      border-bottom: 3px solid #9b9b9b;
      border-radius: 1px;
    }
  }
}

@media (max-width: 750px) {
  .pagination__container {
    button {
      margin: 0 8px;
    }

    &-numbers {
      padding: 0 4px;
    }
  }
}
