.search__container {
  align-items: center;
  background: white;
  border: none;
  border-radius: 32px;
  display: flex;
  justify-content: center;

  svg {
    margin-left: 10px;
  }

  &-input {
    align-items: center;
    height: 48px;
    border: none;
    border-radius: 32px;
    font-size: 16px;
    outline: none;
    padding: 0 5px;
    width: 438px;
  }
}
